@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #fff;
}
body{
    background-color: #826AED;
}
h1{
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 5px 0px 5px 0px;
}
h2, caption{
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 0px 0px 5px 0px;
}
.col{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.contenido{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tabla{
    width: 100%;
}
.formulario, .mapa{
    width: 50%;
}
input{
    width: 70%;
    border-radius: 5px;
    border-color: transparent;
    background-color: #3BF4FB;
    margin-bottom: 5px;
    color: black
}
input[value="Enviar"]{
    width: 10%;
    color: black;
}
#map{
    height: 100%;
    border-radius: 5px;
}
table{
    border-collapse: collapse;
    width: 100%;
    color: black;
    text-align: left;
    border-radius: 5px;
}
th{
    background-color: #3BF4FB;
    color: black;
}
.search-container input{
    width: 30%;
    color: black;
}
.search-container input[value="Buscar"]{
    width: 10%;
    color: black;
}
text{
    color: black;
    font-size: 10px;
}